

.navbar-main{
 position: absolute;
  width: 100%;
height: 675px;
  background-color:rgba(0, 0, 0, 0.51);
  z-index: 1;

}
.navbar-wrapper{

    width: 50px;
    height: 50px;
    border-radius: 100%;

    position: absolute;

    
    }

    .nav-bar-change{
      animation: sidenav 2s forwards;
    }
    .navbar-wrapper-change{
      width: 300px;
    height: 80vh;
   
   
  
    
    }
    #first-java{
      margin-top: 70px;
    }
    .navbar-back-btn{
    
        width: 50px;
        height: 50px;
        background-color: rgb(57, 152, 50);
        outline: 1px solid;
   
        border-radius: 100%;
        cursor: pointer;
        margin: 10px 0 10px 5px;
        z-index: 1;
        position: absolute;

      
      }
      img{
        width: 100%;
        height: 100%;
      }
      
      .nav-btn{
        height: 50px;
        width: 95%;
        border: 1px 0 1px 0 solid white;
        margin-bottom: 2px;
        background-color: #223454f4;
        color: aliceblue;
        border-radius: 5px;
        display: flex;
      
        align-items: center;
        padding-left: 5px;
       
      }
    
      .hide{
        display: none;

      }

      .nav-btns{
        height: 600px;
        overflow-y: scroll;
        font-size: 20px;
        cursor: pointer;
        
      }
      .nav-btns::-webkit-scrollbar{
        display: none;
      }
      .left{
       
        animation: lefttoright 1s forwards ;
        animation-fill-mode: none;
        margin-left: 240px;
      }

  @keyframes lefttoright {
    0%{
      margin-left: 5px;
    
    }
    100%{
      margin-left: 240px;
    
    }
  }

  @keyframes sidenav {
    0%{
      width: 300px;
    }
    100%{
      width: 0px;
    }
  }