.navbar-wrapper{

    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: aliceblue;
    position: absolute;
    }
    .navbar-wrapper-change{
      width: 300px;
    height: 100vh;
    background-color: rgba(240, 248, 255, 0);
    position: absolute;
    
    }
    .navbar-back-btn{
    
        width: 50px;
        height: 50px;
        background-color: rgb(57, 152, 50);
        border-radius: 100%;
      
      }
      .nav-btn{
        height: 50px;
        width: 100%;
        border: 1px 0 1px 0 solid white;
        margin-bottom: 2px;
        background-color: #223454;
        color: aliceblue;
        border-radius: 5px;
      }
    
      .hide{
        display: none;

      }