
.map{
   
        width: 100%;
     height: max-content;
        background-color:black;
     
}
.topics-logo{
    font-size: 25px;
    color: white;
    display: flex;
margin: 20px;
}
.topics-body{
  height: 100%;
  
    width: 100%;
}
.topics-body-topics{
    width: 100%;
    height: 200px;
    border-bottom: 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    
   
}
.topic-point-left ,.topic-point-right{
    width: 80px;
    height: 80px;
    background-color: red;
    border-radius: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    position: relative;
    cursor: pointer;

}
.topic-point-left{
    align-self: flex-start;
}
.topic-point-right{
    align-self: flex-end;
    margin-bottom: 20px;
}
.topic-point-left:hover{
    background-color: rgb(13, 199, 13);
}
.topic-point-right:hover{
    background-color: rgb(13, 199, 13);
}
.topic-jist-left{
    background-color: rgba(255, 255, 255, 0.73);
    width: 200px;
    height: 100px;
    position: absolute;
    top: 40px;
    left: 40px;
    z-index: 1;
    display: none;
    border-radius: 10px;
    
}
.topic-jist-right{
    background-color: rgba(255, 255, 255, 0.73);
    border-radius: 10px;
    width: 200px;
    height: 100px;
    position: absolute;
    top: 40px;
    right: 40px;
    z-index: 1;
    display: none;
    
}


.topic-point-left:hover .topic-jist-left{
    display: block;
   
}
.topic-point-right:hover .topic-jist-right{
    display: block;
   
}

